.volume-slider {
    -fx-background-color: transparent;
    -fx-background-image: url("images/knobcolor.png");
    -fx-background-size: stretch;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.knob {
    -fx-background-image: url("images/volume.png");
    -fx-background-size: stretch;
}

.overlay {
    -fx-background-position: center;
    -fx-background-image: url("images/volume-highlights.png");
    -fx-background-size: stretch;
}